<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="/css/form_des.css">
    
    <title>All you need to know..</title>
</head>
<body>
    <div class="req">
    <div class=buttons>
        <button id=play></button> &nbsp;
        <button id=pause></button> &nbsp;
        <button id=stop></button>
    </div>
    <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
        </script>
        
        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        <div id="google_translate_element"></div>
    </div>
    <div class="info" id="tv">
        <article>
        <h1>
            Employment Agreement
        </h1>
        
        


        <p>
            This Employment Agreement i.e. terms and conditions of employment is a contract for use when an Indian business hires a new employee. It can be used for a range of different employment types, including full time, part time and fixed term.
This Agreement sets out all of the terms of employment, including job duties, salary and benefits, work hours, confidentiality, annual leave and various other key terms.
In many cases, once an employer chooses to take on a new employee, the parties want to get started without delay. The employer may therefore wish to first provide the employee with a letter which spells out some of the key terms more briefly. In these situations, employers may wish to use a Letter of Offer for Employment, and then to follow it up with this Employment Agreement.
However, this Employment Agreement goes into more detail about the various terms of employment and provides a more robust document so that both the employer and the employee fully understand what is expected of one another, and how the employment arrangement may develop over time (for example, by providing details of bonuses and pay increases).
This Employment Agreement is not suitable for use by contractors. Instead, contractors should use the Service Agreement.
 
How to use this document
This document can be used by employers that hire a new employee, whether on a full-time, part-time, fixed term, casual or some other basis.
The employment agreement should be printed on stamp paper and then both the employer and the employee will need to sign the document, and keep a copy for their own records.
 


Applicable Law
The employment may be subject to the terms and conditions of the applicable Shops and Establishments Act or Factories Act depending on the nature of activity carried on by the employer. Each State in India has its own Shops and Establishments Act which lays down certain terms regarding working hours, overtime etc.
</p>
</article>
<a href="/offer_letter" class="cta">
    <span>Click me</span>
    <svg width="13px" height="10px" viewBox="0 0 13 10">
      <path d="M1,5 L11,5"></path>
      <polyline points="8 1 12 5 8 9"></polyline>
    </svg>
  </a>
    </div>
    <script src="/js/form_des.js"></script>
</body>
</html>