@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Oxanium&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* svg{
    margin: 0;
    padding: 0;
} */

.start svg{
    pointer-events: none;
}

.start{
    background: url("/svg/back.svg") no-repeat;
    object-fit: cover; 
    background-attachment: fixed;
}

#tagline{
    position: absolute;
}

#text{
    position: relative;
    right: 60px;
}

.next{
    color: black;
}



#text path:nth-child(1){
    stroke-dasharray: 536.2118530273438;
    stroke-dashoffset: 536.2118530273438;
    animation: line 3s  ease forwards;
    
}
#text path:nth-child(2){
    stroke-dasharray: 519.10693359375;
    stroke-dashoffset: 519.10693359375;
    animation: line 3s ease forwards;
}
#text path:nth-child(3){
    stroke-dasharray: 391.74310302734375;
    stroke-dashoffset:391.74310302734375;
    animation: line 3s ease forwards 0.6s;
}
#text path:nth-child(4){
    stroke-dasharray: 519.5066528320312;
    stroke-dashoffset: 519.5066528320312;
    animation: line 3s ease forwards 0.9s;
}
#text path:nth-child(5){
    stroke-dasharray: 430.87103271484375;
    stroke-dashoffset: 430.87103271484375;
    animation: line 3s ease forwards 1.2s;
}
#text path:nth-child(6){
    stroke-dasharray: 412.5826110839844;
    stroke-dashoffset: 412.5826110839844;
    animation: line 3s ease forwards 1.6s;
}
#text path:nth-child(7){
    stroke-dasharray: 259.52032470703125;
    stroke-dashoffset:  259.52032470703125;
    animation: line 3s ease forwards 1.9s;
}
#text path:nth-child(8){
    stroke-dasharray: 433.1510925292969;
    stroke-dashoffset: 433.1510925292969;
    animation: line 3s ease forwards 2.2s;
}
#text path:nth-child(9){
    stroke-dasharray: 520.4185180664062;
    stroke-dashoffset: 520.4185180664062;
    animation: line 3s ease forwards 2.5s;
}
#text path:nth-child(10){
    
    stroke-dasharray: 527.1253662109375;
    stroke-dashoffset: 527.1253662109375;
    animation: line 3s ease forwards 2.8s;
}

#text path:nth-child(11){
    
    stroke-dasharray: 763.8844604492188;
    stroke-dashoffset: 763.8844604492188;
    animation: line 3s ease forwards 3.1s;
}

#text path:nth-child(12){
    
    stroke-dasharray: 763.8844604492188;
    stroke-dashoffset: 763.8844604492188;
    animation: line 3s ease forwards 3.4s;
}

#text path{
    fill: transparent;
}



@keyframes line{
    from{
       
        fill: transparent;
    }
    to{
        
        stroke: #3c1053ff;
        fill:#3c1053ff;
        stroke-dashoffset:0 ;
        
    }
} 

.home_btn{
    position: absolute;
    top:70%;
    left:43.5%
}

/* 
.page2{
background: linear-gradient(90deg,#EECDA3 39%, #EF629F 81%);
position: relative;
display: flex;
flex-flow: row wrap;
justify-content: center;
align-items: center;
margin-top: -100px;
min-height: 100vh;
} */


a {

    -webkit-transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
    -moz-transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
    -ms-transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
    -o-transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
    transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);

    text-decoration: none;
}

/* .demo{
    position: relative;
    background: linear-gradient(90deg,#EECDA3 39%, #EF629F 81%);
    display: flex;
} */
/* .demo:after {

    box-shadow: 0 1px 16px rgba(0,0,0,0.15);
    background: #1b1b1b;
    position: absolute;
    content: '';
    height: 10px;
    width: 100%;
    top: 0;
} */

.page2{
    background: linear-gradient(90deg,#EECDA3 39%, #EF629F 81%);
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
    min-height: 100vh;
    }

/* List styles */

.list {

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    text-transform: uppercase;
    margin: 50px;
   margin-top: 50px;
 
}

.list a {
    
    display: block;
    color: #fff;
}

.list a:hover {
    text-indent: 20px;
}

.list dt, .list dd {

    text-indent: 10px;
    line-height: 55px;
    background: #E0FBAC;
    margin: 0;
    height: 55px;
    width: 370px;
    color: #fff;
}

.list dt {

    /* Since we're hiding elements behind here, we need it in 3d */
    -webkit-transform: translateZ(0.3px);
    -moz-transform: translateZ(0.3px);
    -ms-transform: translateZ(0.3px);
    -o-transform: translateZ(0.3px);
    transform: translateZ(0.3px);

    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    font-size: 30px;
}

.list dd {

    border-top: 1px dashed rgba(255,255,255,0.3);
    line-height: 35px;
    font-size: 25px;
    height: 35px;
    margin: 0;
}

/* UI */



.button {
    position: relative;
    padding: 1em 1.5em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    margin: 1em 0.8em;
    text-transform: uppercase;
  }

  
.button.type3 {
    color: #435a6b;
  }
  .button.type3.type3::after, .button.type3.type3::before {
    content: "";
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 2px solid;
    transition: all 0.6s ease;
    border-radius: 2px;
  }
  .button.type3.type3::after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #435a6b;
    border-right-color: #435a6b;
  }
  .button.type3.type3::before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: #435a6b;
    border-left-color: #435a6b;
  }
  .button.type3.type3:hover:after, .button.type3.type3:hover:before {
    border-bottom-color: #435a6b;
    border-right-color: #435a6b;
    border-top-color: #435a6b;
    border-left-color: #435a6b;
    width: 100%;
    height: 100%;
  }


/* Individual styles */

.sashimi dt, .sashimi dd, .sashimi a { background: #73C8A9; }
.nigiri dt, .nigiri dd, .nigiri a { background: #E32551; }
.maki dt, .maki dd, .maki a { background: #FFC219; }

.sashimi a:hover { background: #61c19e; }
.nigiri a:hover { background: #d31b46; }
.maki a:hover { background: #ffbb00; }

.nigiri {

    -webkit-transform: perspective(1200px) rotateY(40deg) !important;
    -moz-transform: perspective(1200px) rotateY(40deg) !important;
    -ms-transform: perspective(1200px) rotateY(40deg) !important;
    -o-transform: perspective(1200px) rotateY(40deg) !important;
    transform: perspective(1200px) rotateY(40deg) !important;

    -webkit-transform-origin: 110% 25%;
    -moz-transform-origin: 110% 25%;
    -ms-transform-origin: 110% 25%;
    -o-transform-origin: 110% 25%;
    transform-origin: 110% 25%;

    left: 20%;
}

.maki {

    -webkit-transform: perspective(600px) translateZ(1px) !important;
    -moz-transform: perspective(600px) translateZ(1px) !important;
    -ms-transform: perspective(600px) translateZ(1px) !important;
    -o-transform: perspective(600px) translateZ(1px) !important;
    transform: perspective(600px) translateZ(1px) !important;

    left: 50%;
}

.sashimi {

    -webkit-transform: perspective(1200px) rotateY(-40deg) !important;
    -moz-transform: perspective(1200px) rotateY(-40deg) !important;
    -ms-transform: perspective(1200px) rotateY(-40deg) !important;
    -o-transform: perspective(1200px) rotateY(-40deg) !important;
    transform: perspective(1200px) rotateY(-40deg) !important;

    -webkit-transform-origin: -10% 25%;
    -moz-transform-origin: -10% 25%;
    -ms-transform-origin: -10% 25%;
    -o-transform-origin: -10% 25%;
    transform-origin: -10% 25%;

    left: 80%;
}